<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row justify-content-center mt-0 pt-0 row-1 mb-0 px-sm-3 px-2">
            <div class="col-12 d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                <a href="#home"><img src="/assets/arrow.png" class="icon"></a>
            </div>
            <div class="container d-flex justify-content-center mt-5">
                <h2>Made with </h2><img src="/assets/angular.png" class="icon-angular ml-4"> <h2>ngular</h2>
            </div>
                <div class="row my-4 row-1 no-gutters justify-content-center">
                    <div class="col-sm-3 col-auto text-center"><small>Copyright &#9400;2021 All Rights Reserved by Cj Espinoza</small></div>
                </div>
            </div>
        </div>
    </footer>
</div>