<nav class="navbar navbar-expand-lg navbar-dark">
  
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo.png" class="logo" alt="logo"></a>
      <div class="nav-item">
        <a href="https://www.facebook.com/Espinoza.Cj27" target="?"><img src="assets/fb-icon.png" alt="fb-icon" class="fb-icon"></a>
        <a href="https://www.instagram.com/cj.expi/" target="?"><img src="assets/insta-icon.png" alt="ig-icon" class="insta-icon"></a>
        <a href="https://github.com/CjEspinoza" target="?"><img src="assets/github-icon.png" alt="github-icon" class="github-icon"></a>
      </div>

    </div>
  </nav>

  <div class="container d-flex justify-content-center">

  <div class="nav-menu d-flexbox justify-content-center">
    <a class="menu-item" routerLink="">HOME</a>
    <label class="menu-item-pipe">|</label>
    <a class="menu-item" routerLink="app-skills">SKILLS</a>
    <label class="menu-item-pipe">|</label>
    <a class="menu-item" href="#">ABOUT</a>
    <label class="menu-item-pipe">|</label>
    <a class="menu-item" href="#">CONTACT</a>
  </div>
  
</div>
