.menu-item{
    color: rgb(218, 218, 218);
    font-family: Century Gothic;
}
.menu-item:hover{
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: .3s;
}
.logo{
    height: 2.5rem;
    filter: brightness(2);
}
.logo:hover{
    height: 2.8rem;
    transition: .3s;
    filter: brightness(5);
}