.container, .main-con{
    background-color: white;
}
h3{
    color: rgb(27, 27, 27);
    margin-top: 50px;
    font-family: Haettenschweiler;
    font-size: 6vmin;
}
hr{
    margin:0;
    border: 1px #1b1b1b solid;
    width: 90%;
    background-color: white;
}
.hr{
    background-color: white;
}
.pro{
    width: 25vmin;
    border: 5px rgb(0, 0, 0) double;
}
.pro:hover{
    border: 8px #ffbf00 solid;
    transition: .3s;
    cursor: pointer;
}
.pro-con{
    flex-direction: column;
}
label{
    font-family: Copperplate Gothic;
    font-size: 3vmin;
    padding-bottom: 0;
    margin-bottom: 0;
}
.p-con{
    padding-top: 10px;
    width: 185px;
    height: 200px;
    text-align: justify;
}
@media screen and (max-width:426px){
    .main-con{
        flex-direction: column;
    }
    .pro{
        width: 78vmin;
    }
    label{
        font-size: 7vmin;
    }
    i{
        font-size: 5vmin;
    }
    .p-con{
        width: 320px;
        height: 200px;
    }
    h3{
        font-size: 40px;
    }
}
@media screen and (max-width:376px){
    .p-con{
        width: 290px;
    }
    h3{
        font-size: 40px;
    }
}
@media screen and (max-width:321px){
    .p-con{
        width: 240px;
        height: 200px;
    }
    h3{
        font-size: 40px;
    }
}