<div class="container d-flex justify-content-center">
    <h3 name="projects" title="projects">PROJECTS</h3>
</div>
<div class="hr d-flex justify-content-center">
    <hr>
</div>
<div class="main-con d-flex justify-content-center pt-5">
    <div class="pro-con d-flex justify-content-center p-4">
        <a href="https://projectguardian.github.io/Guardian/" target="?"><img src="assets/guardianv1.PNG" class="pro"></a>
        <label>Guardian V1</label>
        <i>Backend</i>
    </div>
    <div class="pro-con d-flex justify-content-center p-4">
        <a href="https://final-heroku-guardian.herokuapp.com/" target="?"><img src="assets/guardianv2.jpg" class="pro"></a>
        <label>Guardian V2</label>
        <i>Backend</i>
    </div>
    <div class="pro-con d-flex justify-content-center p-4">
        <a href="https://github.com/joshuiaclan/messaging-app-2020" target="?"><img src="assets/messagemo.gif" class="pro"></a>
        <label>Message-mo</label>
        <i>Frontend</i>
    </div>
</div>