h3{
    color: #000000;
    margin-top: 50px;
    font-family: Haettenschweiler;
    font-size: 6vmin;
}
hr{
    border: 1px #000000 solid;
    width: 90%;
    background-color:#ffcf40;
    margin: 0;
}
.hr{
    padding: 0;
    background-color:#ffcf40;
}
.container{
    background-color: #ffcf40;
}
.con{
    flex-direction: column;
    background-color: #ffcf40;
}
.form{
    display: flex;
    justify-content: center;
}
.form2{
    flex-direction: column;
}
.icon-form{
    width: 25px;
    margin: 5px;
    margin-left: 10px;
}
.tf{
    width: 230px;
    border: none;
    margin-left: 5px;
    height: 35px;
}
.textfield{
    display: flex;
    flex-direction: row;
    width: 275px;
    background-color: white;
    border: 1px solid black;
    margin: 15px;
}
#message{
    width: 580px;
    resize: none;
    padding: 10px;
}
.btn-submit{
    padding: 8px;
    background-color: black;
    color: white;
    margin: 20px;
    text-decoration: none;
}
.btn-submit:hover{
    background-color: white;
    color: black;
    transition: .3s;
}
@media screen and (max-width:426px){
    .tf{
        width: 240px;
    }
    .textfield{
        width: 287px;
        margin-left: 0px;
    }
    .form{
        flex-direction: column;
    }
}
@media screen and (max-width:321px){
    .tf{
        width: 200px;
    }
    .textfield{
        width: 247px;
        margin-left: -30px;
    }
    .textarea{
        margin-left: -30px;
        width: 247px;
    }
}