.right{
    flex-direction: column;
    width: 67vmin;
    background-color: rgb(182, 182, 182);
    color: white;
}
.left{
    width: 50vmin;
    margin: 0;
    padding: 0;
}
.name-tf{
    padding-left: 10px;
    padding-right: 10px;
    width: 45vmin;
    background-color: rgb(175, 174, 174);
    color: white;
    border: none;
    border-bottom: 2px rgb(48, 48, 48) solid;
}
.name-tf::placeholder{
    color: rgb(218, 216, 216);
}
.email-tf::placeholder{
    color: rgb(218, 216, 216);
}
.email-tf{
    padding-left: 10px;
    padding-right: 10px;
    width: 45vmin;
    background-color: rgb(175, 174, 174);
    color: white;
    border: none;
    border-bottom: 2px rgb(48, 48, 48) solid;
}
#message::placeholder{
    color: rgb(218, 216, 216);
}
.con-1{
    flex-direction: column;
}
#message{
    padding-left: 10px;
    padding-right: 10px;
    width: 45vmin;
    resize: none;
    margin-left: 8px;
    background-color: rgb(175, 174, 174);
    color: white;
    border: none;
    border-bottom: 2px rgb(48, 48, 48) solid;
}
.header{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2px;
}
h4{
    margin-left: 20px;
    margin-right: 20px;
}
.btn-submit{
    background-color: rgb(2, 2, 2);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 8px;
    color: white;
    text-decoration: none;
}
.btn-submit:hover{
    background-color: white;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 8px;
    color: black;
    transition: .3s;
}
.contact{
    width: 70vmin;
    filter: blur(30)
}
.icon{
    margin: 10px;
    height: 2vmin;
    filter: invert();
}
@media screen and (max-width:1440px){
    .right{
        flex-direction: column;
        width: 58.5vmin;
        background-color: rgb(231, 231, 231);
        height: 70vmin;
    }
    .left{
        width: 41.5vmin;
        margin: 0;
        padding: 0;
        height: 70vmin;
    }
}

@media screen and (max-width:1025px){
    .right{
        flex-direction: column;
        width: 53vmin;
        background-color: rgb(231, 231, 231);
        height: 70vmin;
    }
    .left{
        width: 36vmin;
        margin: 0;
        padding: 0;
        height: 70vmin;
    }
    .contact{
        width: 60vmin;
        filter: blur(30)
    }
    #message{
        width: 45vmin;
        height: 30vmin;
        resize: none;
    }
}
@media screen and (max-width:768px){
    .name-tf{
        width: 50vmin;
    }
    .email-tf{
        width: 50vmin;
    }
    #message{
        width: 54vmin;
        resize: none;
    }
    .left{
        width: 40vmin;
        margin: 0;
        padding: 0;
    }
    .contact{
        width: 67vmin;
        filter: blur(30)
    }
}
@media screen and (max-width:426px){
    .container{
        flex-direction: column;
        margin: 0px;
        padding:0px;
    }
    img{
        width: 285.5px;
    }
    .btn-submit{
        background-color: rgb(0, 0, 0);
        color: white;
        text-decoration: none;
        width: 100px;
        text-align: center;
        margin-left: 90px;
    }
    .name-tf{
        width: 54vmin;
    }
    .email-tf{
        width: 54vmin;
    }
    #message{
        width: 54vmin;
        resize: none;
        margin-left: 25px;
        height: 30vmin;
    }
    .message{
        margin-left: 16px;
    }
}