<div class="container d-flex w-100">
    <div class="left d-flex">
        <img src="assets/contact.jpg" alt="contact">
    </div>
    <div class="right d-flexbox m-0 p-0">
        <div class="container d-flexbox p-0">

            <div class="con-1 d-flex">
                <div class="header d-flex justify-content-center">
                    <h3>Contact me here. . .</h3>
                </div>
                <div class="name d-flex pl-3">
                    <label>Name:</label>
                </div>
            
                <div class="container pl-4">
                    <input type="text" class="name-tf" placeholder="Last Name, First Name" [(ngModel)] = "name">
                </div>
                <div class="name d-flex pl-3">
                    <label>Email:</label>
                </div>
            
                <div class="container pl-4">
                    <input type="email" class="email-tf" placeholder="example@example.com">
                </div>
            </div>
            </div>
            
            <div class="con-1 d-flex">
                <div class="container d-flex">
                    <label class="message">Message:</label>
                </div>
                <div class="container d-flex">
                    <textarea name="message" placeholder="Input your message here. . . . " id="message" cols="30" rows="10" [(ngModel)]="message"></textarea>
                </div>
                <div class="container d-flex justify-content-center mt-3">
                    <a class="btn-submit"  id = "sendMail" (click)="appendMailTo()"  href="mailto:espinoza.cj3@gmail.com?subject={{name}}&body={{message}}">Send</a>
                </div>
            </div>
    </div>
</div>