h3{
    color: #202020;
    margin-top: 50px;
    font-family: Haettenschweiler;
    font-size: 6vmin;
}
hr{
    border: 1px #1f1f1f solid;
    width: 90%;
    margin: 0;
    padding:0px;

}
.hr{
    background-color: #ffcf40;
    justify-content: center;
}
.container{
    background-color: #ffcf40;
    flex-direction: row;
}
.icons{
    width: 7vmin;
}
.skillbar{
    margin-top: 20px;
    height: 10px;
    width: 30vmin;
    background-color: rgb(148, 148, 148);
}
.skill1, .skill2{
    width: 70%;
    background-color: rgb(41, 41, 41);
}
.skill3, .skill4{
    width: 65%;
    background-color: rgb(41, 41, 41);
}
.skill5, .skill6{
    width: 85%;
    background-color: rgb(41, 41, 41);
}
.skill7{
    width: 50%;
    background-color: rgb(41, 41, 41);
}
.skill8{
    width: 45%;
    background-color: rgb(41, 41, 41);
}
.con{
    width: 50vmin;
    flex-direction: column;
}
.badges{
    width: 20vmin;
}