h3{
    color: #202020;
    margin-top: 50px;
    font-family: Haettenschweiler;
    font-size: 6vmin;
}
hr{
    border: 1px #1f1f1f solid;
    width: 90%;
    margin: 0;
    padding:0px;

}
.hr{
    background-color: #ffcf40;
    justify-content: center;
}
.container, .badge-con{
    background-color: #ffcf40;
    flex-direction: row;
}
.main-con{
    background-color: #ffcf40;
}
.icons{
    width: 7vmin;
}
.skillbar{
    margin-top: 20px;
    height: 10px;
    width: 30vmin;
    background-color: rgb(148, 148, 148);
}
.skill1, .skill2{
    width: 70%;
    background-color: rgb(41, 41, 41);
}
.skill3, .skill4{
    width: 65%;
    background-color: rgb(41, 41, 41);
}
.skill5, .skill6{
    width: 85%;
    background-color: rgb(41, 41, 41);
}
.skill7{
    width: 50%;
    background-color: rgb(41, 41, 41);
}
.skill8{
    width: 45%;
    background-color: rgb(41, 41, 41);
}
.con{
    width: 50vmin;
    flex-direction: column;
}
.badges{
    width: 25vmin;
}
@media screen and (max-width:1025px){
    .skillbar{
        width: 27vmin;
    }
}
@media screen and (max-width:769px){
    .badges{
        width: 30vmin;
    }
}
@media screen and (max-width:426px){
    .main-con{
        flex-direction: column;
    }
    .icons{
        width: 12vmin;
    }
    .skillbar{
        width: 55vmin;
    }
    .badges{
        width: 28vmin;
    }
    h3{
        font-size: 40px;
    }
}@media screen and (max-width:376px){
    .badges{
        width: 50vmin;
    }
    .badge-con{
        padding-left: 75px;
        flex-direction: column;
    }
}
@media screen and (max-width:321px){
    .badges{
        width: 50vmin;
    }
    .badge-con{
        padding-left: 65px;
        flex-direction: column;
    }
}