<div class="container d-flex m-0 p-0">
    <div class="left d-flex p-2">
        <div class="maincon d-flex justify-content-center">
            <h3>Experiences</h3>
        </div>

        <div class="main-con d-flex pt-2">
            <div class="con1 d-flex">
                <img src="assets/angular.png" class="icons">
                <img src="assets/android.png" class="icons">
                <img src="assets/csharp.png" class="icons">
                <img src="assets/html.png" class="icons">
                <img src="assets/java.png" class="icon-java">
                <img src="assets/php.png" class="icon-php">
                <img src="assets/python.png" class="icons">
                <img src="assets/reactjs.png" class="icons">
            </div>
            <div class="con2 d-flex">
                <div class="skill-1">
                    <div class="angular pl-2">85%</div>
                </div>
                <div class="skill-2">
                    <div class="android pl-2">70%</div>
                </div>
                <div class="skill-3">
                    <div class="csharp pl-2">70%</div>
                </div>
                <div class="skill-4">
                    <div class="html pl-2">90%</div>
                </div>
                <div class="skill-5">
                    <div class="java pl-2">90%</div>
                </div>
                <div class="skill-6">
                    <div class="php pl-2">30%</div>
                </div>
                <div class="skill-7">
                    <div class="python pl-2">70%</div>
                </div>
                <div class="skill-8">
                    <div class="reactjs pl-2">40%</div>
                </div>
            </div>
        </div>
    </div>
    <div class="right d-flex p-2">
        
        <div class="con3 d-flex justify-content-center">
            <h3>Badges</h3>
        </div>

        <div class="main-con">

        <div class="con d-flex">
            <img src="assets/cloud.png" class="icons2">
            <div class="badge-con mt-4">
                <label class="title">Cloud System Analyst</label><br>
                <label>03/23/2020</label>
            </div>
            
        </div>
        <div class="con d-flex">
            <img src="assets/msexcel.png" class="icons2">
            <div class="badge-con mt-4">
                <label class="title">Microsoft Excel Specialist</label><br>
                <label>05/07/2019</label>
            </div>
        </div>
        <div class="con d-flex">
            <img src="assets/msword.png" class="icons2">

            <div class="badge-con mt-4">
                <label class="title">Microsoft Word Specialist</label><br>
                <label>12/08/2018</label>
            </div>
        </div>
    </div>

    </div>
        
</div>