<div class="m-0 p-0">

    <div class="home-con d-flex">
        <h2>Experiences in the bag:</h2>
        <div class="icon-con d-flex">
            <div>
                <img src="assets/android.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/angular.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/csharp.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/html.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/java.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/php.png" alt="android" class="icons mt-4">
            </div>
            <div>
                <img src="assets/python.png" alt="android" class="icons">
            </div>
            <div>
                <img src="assets/reactjs.png" alt="android" class="icons">
            </div>
        </div>
        <h2>Badges:</h2>
        <div class="icon-con d-flex">
            <div>
                <img src="assets/msword.png" alt="android" class="icons2">
            </div>
            <div>
                <img src="assets/msexcel.png" alt="android" class="icons2">
            </div>
            <div>
                <img src="assets/cloud.png" alt="android" class="icons2">
            </div>
        </div>
    </div>
    
</div>