    <div class="container d-flex justify-content-center">
        <h3 name="skills" title="skills">SKILLS</h3>
    </div>
    <div class="hr d-flex">
        <hr>
    </div>

    <div class="main-con d-flex justify-content-center">
        <div class="con d-flex justify-content-center p-3">
            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/angular.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill1"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/android.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill3"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/csharp.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill3"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/html.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill5"></div>
                </div>
                </div>
            </div>

        </div>

        <div class="con d-flex justify-content-center p-3">
            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/java.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill6"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/php.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill7"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/python.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill2"></div>
                </div>
                </div>
            </div>

            <div class="skill-con d-flex">
                <div class="d-flex p-3">    
                    <img src="/assets/reactjs.png" class="icons">
                </div>
                <div class="d-flex p-3">
                <div class="skillbar d-flex">
                    <div class="skill8"></div>
                </div>
                </div>
            </div>

        </div>
    </div>

<div class="container d-flex justify-content-center">
        <h3 name="badges" title="badges">BADGES</h3>
</div>
<div class="badge-con d-flex justify-content-center">
    <img src="/assets/msword.png" class="badges p-3">
    <img src="/assets/msexcel.png" class="badges p-3">
    <img src="/assets/cloud.png" class="badges p-3">
</div>
