.container{
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.frame{
    background-color: rgb(202, 202, 202);
    flex-direction: row;
    width: 58%;
    border-style: outset;
    border-radius: 3vmin;
    box-shadow: 10px 20px 15px 5px rgb(92, 92, 92);
}
.portrait{
    width: 35%;
}
