<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <app-navbar id="home"></app-navbar>
  <div class="maindiv d-flex justify-content-center">
    <div class="con1 d-flex">
      <app-home></app-home>
      <app-about id="about"></app-about>
      <app-skills id="skills"></app-skills>
      <app-projects id="projects"></app-projects>
      <app-contact id="contact"></app-contact>
      <app-footer class="mt-auto"></app-footer>
    </div>
  </div>
  
</body>
</html>