body{
    background-image: url("https://github.com/CjEspinoza/main-portfolio/blob/master/src/assets/background.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-self: center;
}
html{
  scroll-behavior:smooth;
  display: flex;
  justify-self: center;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(29, 29, 29); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #a67c00; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a67c00; 
  }