.poster{
    width: 120vmin;
}
h1, h2{
    position: absolute;
    margin-left: 25px;
}
h1{
    margin-top: -50vmin;
    color: #ffbf00;
    font-size: 10vmin;
}
h1:hover{
    font-size: 11vmin;
    transition: .5s;
    cursor: pointer;
}
h2{
    margin-top: -38vmin;
    color: #bf9b30;
}
h2:hover{
    font-size: 4.8vmin;
    transition: .5s;
    cursor: pointer;
}
@media screen and (max-width:1441px){
    .poster{
        width: 102vmin;
    }
}
@media screen and (max-width:1025px){
    .poster{
        width: 104vmin;
    }
}
@media screen and (max-width:769px){
    .poster{
        width: 106vmin;
    }
}
@media screen and (max-width:426px){
    .poster{
        width: 90vmin;
    }
    h1{
        font-size: 8vmin;
    }
    h2{
        font-size: 6vmin;
    }
}